.label {
    display: inline-block;
    margin-bottom: 5px;
}
.label.required:after {
    content: "*";
    margin-left: 5px;
    font-size: 0.75em;
    vertical-align: top;
    color: var(--clr-required);
}